body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 50px;
}

header img {
    height: 150px;
    border-radius: 50%;
}

header, footer {
    background-color: #8697A6;
    text-align: center;
    color: #ffffff;
}

nav {
    background-color: #BFCDD9;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 25px;
}

nav ul li {
    display: inline;
    margin: 50px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #515F69;
}

section {
    margin: 50px;
    padding: 50px;
    color: #515F69;
    border-radius: 25px;
    background-color: #BFCDD9;
}

footer {
    padding: 10px;
}

.button {
    border: 0;
    color: #515F69;
    padding: 25px;
}

.button:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #8697A6;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        margin: 15px;
    }
}